<html>
<head>
<style>
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}
img#slide {
    float: left;
    background-color: white;
}
video#video {
    float: left;
}
#side-overview {
    float: right;
}
#slide-annot {
    color: white;
    font-size: 200%;
    white-space: pre-wrap;
    font-family: 'sans serif',Verdana,Arial;
    margin: 1em;
}
#icons {
    color: white;
/*     float: left; */
    position: absolute;
    bottom: 4px;
}
div#footer {
    position: absolute;
    bottom: 4px; 
    color: white;
    width: 100%;
}
#pages {
    color: white;
    position: absolute;
    left: 4px;
    bottom: 4px;
    font-size: 1.5em;
    font-family: "Lucida Console", Monaco, monospace;
}
#slides-open {
    font-size: 200%;
}

#pointer {
    position: absolute;
    color: #ff4000;
    opacity: 0.9;
}
</style>
</head>
<body onload="init()"><div id="overview" style="display: none;"></div>
<div id="presenterconsole"><img id="slide" height="100%"/>
<div id="side-overview" style="display: none;"></div><span id="slide-annot" style="display: none;"></span>

<div id="footer">
<div id="icons"><span style="display: none;" id="freeze"><img src="data:image/svg+xml;base64,{{freeze.svg}}" /></span><span style="display: none;" id="black"><img src="data:image/svg+xml;base64,{{black.svg}}" /></span></div>

<div style="display: none;" id="pages">0/0</div>
</div>
<div id="pointer" style="display: none;">&#11044;</div>
</div>
{{script}}
<script>
    var slide = 0;
    var x = 0;
    var presenter = true; // presenter mode always on
    var slides = null;
    var freeze = false;
    var duration = 0;
    var black = false;
    var show_hours = true;
    var pointer = false;
    var overview = false;
    
    var slide_img = slide_info["slides"];
    var slide_video = slide_info["videos"];
    var slide_video_pos = slide_info["videos_pos"];
    var slide_annot = slide_info["annotations"];
    var slide_thumb = slide_info["thumb"];

    function next() {
        if(slide < slide_img.length - 2) slide++;
        redraw();
    }

    function prev() {
        if(slide > 0) slide--;
        redraw();
    }
    
    function goto(sid) {
        if(overview) {
            document.getElementById("presenterconsole").style.display = "";
            document.getElementById("overview").style.display = "none";
            document.getElementById("overview").innerHTML = "";
            overview = false;
        }
        slide = sid;
        redraw();
    }

    function slideType(type) {
        document.querySelectorAll('[id^="video"]').forEach(el => el.parentNode.removeChild(el));
        if(type == "image") {
            document.getElementById("slide").style.display = "";
        } else if(type == "video") {
            document.getElementById("slide").style.display = "none";
        } else if (type == "video_embedded") {
            document.getElementById("slide").style.display = "";
        }
    }

    function redraw() {
    
        if(slide_video[slide] != "") {
            var urls = atob(slide_video[slide]).substring(1).split('|');

            var video_pos = "";
            if (slide_video_pos[slide] != "") {
                video_pos = slide_video_pos[slide].substring(1).split('|');
                slideType("video_embedded");
                document.getElementById("slide").src = (black && !presenter) ? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=" : "data:{{slide_data_type}};base64," + slide_img[slide];
            } else {
                slideType("video");
            }

            for (var i = 0; i < urls.length; i++) {
                var slide_elem = document.getElementById("slide");

                var video_elem = document.createElement('video');
                video_elem.id = 'video' + i.toString();
                video_elem.height = "100%";
                slide_elem.parentNode.insertBefore(video_elem, slide_elem.nextSibling);

                video_elem.innerHTML = "<source src=\"" + urls[i] + "\">";

                if (video_pos[i] && video_pos[i] != "" && video_pos[i].split(';').length == 4) {
                    var coords = video_pos[i].split(';').map(parseFloat);

                    var slide_style = window.getComputedStyle(document.getElementById("slide"));
                    var slide_width = parseInt(slide_style.width);
                    var slide_height = parseInt(slide_style.height);

                    video_elem.style.width = ((coords[2] - coords[0]) * slide_width).toString() + "px";
                    video_elem.style.height = ((coords[3] - coords[1]) * slide_height).toString() + "px";

                    video_elem.style.left = (coords[0] * slide_width).toString() + "px";
                    video_elem.style.top = ((1.0 - coords[3]) * slide_height).toString() + "px";

                    video_elem.style.position = "absolute";
                    video_elem.poster = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAADklEQVR42mNkAAJGEAEAABkAA50Y5HIAAAAASUVORK5CYII=";
                } else {
                    video_elem.poster = "data:image/svg+xml;base64," + slide_img[slide];
                }

                video_elem.load();
                video_elem.pause();
                video_elem.currentTime = 0;
                if(urls[i].indexOf("?autostart") != -1 /*&& !presenter*/) {
                    video_elem.muted = true;
                    video_elem.autoplay = true;
                    video_elem.play();
                }
                video_elem.controls = true;
            }
        } else {
            slideType("image");

            document.getElementById("slide").src = (black && !presenter) ? "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=" : "data:{{slide_data_type}};base64," + slide_img[slide];
        }
    
        
        if(presenter) {
            document.getElementById("slide-annot").innerHTML = atob(slide_annot[slide]);
            document.getElementById("pages").innerHTML = (slide + 1) + "/" + (slide_img.length - 1);
            sideoverview = document.getElementById("side-overview");

            // scroll the side overview to the current slide
            if(sideoverview) {
                var sideslide = document.getElementById("sideslide" + slide);
                if(sideslide) {
                    sideslide.scrollIntoView();
                }
            }
            if(slides && !freeze) {
                try {
                    slides.goto(slide);
                } catch(e) {
                    slides.postMessage({"action": "goto", "data": slide}, "*");
                }
            }
            
        }
    }
    

  

    function unify(e) {
        e = e || window.event;
        return e.changedTouches ? e.changedTouches[0] : e
    };

    function move(e) {
        e.preventDefault();
        x = unify(e).clientX;
    }

    function stop(e) {
        e.preventDefault();
        var new_x = unify(e).clientX;
        if(new_x > x) prev();
        else next();
    }
    
    function pointerMove(e) {
        if(!pointer) return;
        e = e || window.event;
        var x = e.clientX;
        var y = e.clientY;
        var style = window.getComputedStyle(document.getElementById("slide"));
        var xp = 1.0 * x / parseInt(style.width);
        var yp = 1.0 * y / parseInt(style.height)
        showPointer(xp, yp);
        if(presenter && slides) {
            try {
                slides.showPointer(xp, yp);
            } catch(ex) {
                slides.postMessage({"action": "pointer", "data": {"x": xp, "y": yp}}, "*");
            }
        }
    }
    
    function showPointer(x, y) {
        var style = window.getComputedStyle(document.getElementById("slide"));
        var p = document.getElementById("pointer");
        p.style.left = x * parseInt(style.width);
        p.style.top = y * parseInt(style.height);
    }


    function done() {
        window.opener.postMessage({"action": "close", "data": null}, "*");
    }
    
    function gotoOverview() {
        if(overview) return;
        overview = true;
        document.getElementById("presenterconsole").style.display = "none";
        var ov = document.getElementById("overview");
        ov.style.display = "block";
        var table = "<table style=\"width: 100vw;\">";
        var per_row = 8;
        var width = (100.0 / per_row) * 0.95;
        for(var row = 0; row < Math.ceil((slide_img.length - 1) / per_row); row++) {
            table += "<tr>";
            for(var col = 0; col < per_row; col++) {
                var idx = row * per_row + col;
                if(idx < slide_img.length - 1) {
                    table += "<td><img onclick=\"goto(" + idx + ")\" style=\"width: " + width + "vw;\" src=\"data:image/png;base64," + slide_thumb[idx] + "\"></td>";
                } else {
                    table += "<td></td>";
                }
            }
            table += "</tr>";
        }
        
        table += "</table>";
        ov.innerHTML = table;
    }
    
    function renderSideOverview() {
        var ov = document.getElementById("side-overview");
        ov.style.display = "block";
        ov.style.width = "30%";
    
        ov.style.height = "100%";
        ov.style.overflow = "scroll";
        var table = "<table style=\"width: 100%;\">";
        var per_row = 1;
        var width = 100;
        for(var row = 0; row < Math.ceil((slide_img.length - 1) / per_row); row++) {
            table += "<tr>";
            for(var col = 0; col < per_row; col++) {
                var idx = row * per_row + col;
                if(idx < slide_img.length - 1) {
                    table += "<td id='sideslide"+idx + "'><img onclick=\"goto(" + idx + ")\" style=\"width: " + width + "%;\" src=\"data:image/png;base64," + slide_thumb[idx] + "\"></td>";
                } else {
                    table += "<td></td>";
                }
            }
            table += "</tr>";
        }
        
        table += "</table>";
        ov.innerHTML = table;
    }

    function setLayout() {
        if(document.location.href.indexOf("?presenter") != -1 || presenter) {
            presenter = true;
            renderSideOverview();
            document.getElementById("slide").style.width="70%";
            document.getElementById("slide").style.backgroundColor="white";
            document.getElementById("slide").style.height="auto";
            document.getElementById("side-overview").style.width="30%";
            document.getElementById("slide-annot").style.display = "";
            document.getElementById("pages").style.display = "";
            document.getElementById("pages").innerHTML = "1/" + (slide_img.length - 1);
        } else {
            try {
                if(window.opener) window.opener.postMessage({"action": "opened", "data": null}, "*");
            } catch(e) {
            }
        }
    }
    
    function init() {
        var font_size = 200;
        presenter = true; // presenter mode always on
    
        setLayout();
        
        var img = document.getElementById("slide");
        img.addEventListener('wheel', function(e) {
            e = e || window.event;
            e.preventDefault();
            if(e.deltaY < 0) {
                prev();
            } else {
                next();
            }
        });

        window.addEventListener("keydown", function(e) {
            e = e || window.event;
            if(e.keyCode === 37 || e.keyCode === 33 /*|| e.keyCode === 38*/) {
                e.preventDefault();
                prev();
            } else if(e.keyCode == 39 || e.keyCode === 34 /*|| e.keyCode === 40*/) {
                e.preventDefault();
                next();
            } else if(e.keyCode == 36) {
                goto(0);
            } else if(e.keyCode == 35) {
                goto(slide_img.length - 2);
            } else if(e.key == "+") {
                font_size += 10;
                document.getElementById("slide-annot").style.fontSize = font_size + "%";
            } else if(e.key == "-") {
                font_size -= 10;
                document.getElementById("slide-annot").style.fontSize = font_size + "%";
            } else if(e.key == "r") {
                redraw();
            } else if(e.key == "g") {
                var new_slide = parseInt(prompt("Go to slide", slide + 1));
                if(!isNaN(new_slide) && new_slide >= 1 && new_slide <= slide_img.length - 1) {
                    goto(new_slide - 1);
                }
            } else if(e.key == "p" || e.keyCode == 8) {
                if(!presenter) {
                    presenter = true;
                    setLayout();
                    redraw();
                } else {
                    pointer = !pointer;
                    if(presenter) document.getElementById("pointer").style.display = pointer ? "" : "none";
                    if(presenter && slides) {
                        try {
                            slides.pointer = pointer
                        } catch(e) {
                            slides.postMessage({"action": "showPointer", "data": pointer}, "*");
                        }
                    }
                }
            } else if(e.keyCode == 9) {
                e.preventDefault();
                gotoOverview();
            } else console.log(e.keyCode);
        });

        img.addEventListener("touchstart", move);
        img.addEventListener("touchend", stop);
        img.addEventListener("touchmove", function(e) {
            e.preventDefault()
        }, false);

       
        window.onunload = function(e) {
            done();
        };
        
        img.addEventListener("mousemove", pointerMove, false);
        
        redraw();
    };
</script>